
#bg{
    -fx-background-color: #123123;
}

#password{
    -fx-background-color: #878787;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

#username{
    -fx-background-color: #878787;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
#errorLabel{
    -fx-text-fill: #ed1616;
}

#loginLabel{
    -fx-font-size: 14px;
    -fx-text-fill: #fc7703;

}
#dataRejestracjiLabel{
    -fx-font-size: 14px;
    -fx-text-fill: #fc7703;

}
.ListView{
    -fx-background-color: #226326;
}
.button{
    -fx-background-color: #007e3b;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-background-color: #321321;
    -fx-text-fill: #ffffff;
}
#stronaGlowna{
    -fx-background-color: #007e3b;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
#ranking{
    -fx-background-color: #007e3b;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
#konto{
    -fx-background-color: #007e3b;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
#konto:pressed{
    -fx-background-color: #321321;
    -fx-text-fill: #ffffff;
}
#stronaGlowna:pressed{
    -fx-background-color: #321321;
    -fx-text-fill: #ffffff;
}
#ranking:pressed{
    -fx-background-color: #321321;
    -fx-text-fill: #ffffff;
}
#lewo, #prawo, #gora, #dol, #tlo {
    -fx-background-color: #606060;
}
#szachownica {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 5px;
}

